@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800;900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

.bg-blur {
  background: transparent;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.polygon {
  clip-path: polygon(0 30%, 100% 0, 100% 100%, 0 100%);
}

.card img {
  transform: scale(1);
  transition: 0.3s ease-out;
}

.card:hover {
  z-index: 5;
}

.card img:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in;
}
